@charset "UTF-8";
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
  }
html {
    font-size: 100%;
}
body {
    font-family:'Raleway', sans-serif;   
}
#bloc-page {
    max-width: 1400px; 
    margin: 0 auto;
    padding: 0 25px;
}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style-type: none;
}
img {
    max-width: 100%;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
}
.header-logo{
    width: 95px;
    margin: 45px 20px 30px 0px;
}
h1{
    margin: 0;
}
.header-nav {
    margin-top: 0;
    display: flex;
}
.header-nav li {
    margin-left: 10px;
}
.header-nav a {
    width: 170px;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;  
    font-weight: lighter;
}
.header-nav a:hover {
    color: #0065fc;
    border-top: 3px solid #0065fc;
} 

/* Main */

h2 {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}
.title-sub {
    font-weight: lighter;
    margin: 10px 0 20px ;
}
/* Search box */
.search-box {
    display: flex;
}
.search-font {   
    font-weight: 600;
    font-size: 18px;
}
#search-bar {  
    height: 50px;
    padding: 0 20px;
    border: none;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}
#search-button {
    width: 135px;
    height: 50px;
    background-color: #0065fc;
    color: white;
    border: none;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    padding: 10px 18px;
}
#search-button-icon {
    display: none;
}
.search-map {  
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 50px;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    font-size: 19px ;
}
/* Filter */
.filters {
    margin: 20px 0 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.filters-h3 {
    margin: 10px 20px 20px 0; 
}
.filters-ul {
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
    font-size: 18px;
    margin-top: 0px; 
    padding-left: 0;   
}
.filters-ul li:hover {
     cursor: pointer;
     box-shadow: 0 0 10px #0065fc;
     background: #f2f7fd;;
     transform:translate(0,3px)
}
.filters-search {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 10px 25px 0 0;  
    padding-right: 20px; 
    border-radius: 30px;
    border: none;
    border-top: 2px solid #d9d9d9;
    border-right: 2px solid #d9d9d9;
    border-bottom: 2px solid #d9d9d9; 
}
.filters-icon {
    background-color: #DEEBFF;
    color: #0065fc;
    width: 50px;
    height: 50px;
    padding: 15px; 
    border-radius: 50px;
    margin-right: 12px;
    font-size: 20px;
}
/* Info */
.info {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.info-icon {
    background-color: #0065fc;
    color: white;
    border-radius: 50px;
    border: 1px solid #d9d9d9;
    font-size: 20px;
    margin-right: 5px;
    }
/* Hotel in Marseille */
.hotel, .hotel-bloc {
    display: flex;
    flex-wrap: wrap;
}
#hotel-marseille {
    flex: 2;
    padding:0 1%; 
    background-color: #f2f2f2;
    border-radius: 15px;
    margin: 2% 2% 0% 0%;
}
.hotel-title {
    padding: 4% 0% 1% 2%;
}
.hotel-box {
    width: 29%;
    margin: 2%;
    padding: 0.5%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 12px  rgb(161, 161, 161);
}
.hotel-box:hover {
    cursor: pointer;
    box-shadow: 0 0px 10px #2e2930;
    background: #eaedf7;
    transform:translate(0,3px)
}
.hotel-img {
    width: 100%;
    height: 110px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.hotel-name, .hotel-price ,.stars{
    padding:3% 0% 0% 4%  ;
    margin: 0;
}
.hotel-price {
    font-size: 14px;
}
.price {
    font-weight: 600;
}
.stars {
    font-size: 12px;
    padding-bottom: 2%;
}
.star-blue {
    color: #0065fc;
}
.star-grey {
    color: rgb(211, 207, 207);
}
.show-more {
    padding: 1% 4%;
}
/* The most popular */
.popular {
    flex: 1;
    padding: 0 0 2% 4%;
    background-color: #f2f2f2;
    border-radius: 15px;
    margin: 2% 0% 0% 1%;
}
.popular-box {
    display: flex;
    align-items: center;
    width: 86%;
    height: 150px;
    margin-top: 5%;
    padding: 1%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 12px  rgb(161, 161, 161);
}
.popular-box:hover {
    cursor: pointer;
    box-shadow: 0 0px 10px #2e2930;
    background: #eaedf7;
    transform:translate(0,3px)
}
.popular-img {
    width: 40%;
    height: 140px;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
}
.title-icon {
    display: flex;
    justify-content: space-between;
    padding: 9% 15% 0% 0%;
}
.popular-description {
    display: flex;
    flex-direction: column;  
    justify-content: space-around; 
    width: 50%;
    height: 100%;
    padding-left: 5%;
}
.popular-icon {
    font-size: 25px;
}
/* Activities in Marseille */
#activity-title {
    margin: 4% 0 2%;
}
.activity-bloc {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.activity-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23%;
    height: 450px;
}
.activity-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 0px 12px  rgb(216, 215, 215);
    margin-bottom: 4%;
}
.activity-img {
    width: 100%; 
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.activity-name-flex {
    display: flex;
    align-items: center;
    height: 50px;
}
.activity-name {
    margin-top: 0;
    padding: 5% 0% 0% 6%; 
}
.activity-box1 {
    width: 22%;
}
.activity-img1 { 
    height: 390px;   
}
.activity-box2 {
    height: 240px;
}
.activity-img2 {
    height: 180px;
}
.activity-box3 {
    height: 165px;
}
.activity-img3 {
    height: 110px;
}
.activity-box4 {
    height: 190px;
}
.activity-img4 {
    height: 140px;
    object-position: 60% 10%;
}
.activity-box5 {
    height: 210px;
}
.activity-img5 {
    height: 150px;
    object-position: 70% 20%;
}
.activity-box1:hover, .activity-box2:hover, .activity-box3:hover , .activity-box4:hover , .activity-box5:hover{
    cursor: pointer;
    box-shadow: 0 0px 10px #000b00;
    transform:translate(0,3px)  
}

/* footer */

footer {
    display: flex;
    height: 230px;
    background-color: #f2f2f2;
    width: 100%;
}
.footer-title {
    margin: 40px 0 20px 40px;
    font-size: 18px;
}
footer ul li {
    margin: 13px 0 13px 40px;
}
footer ul {
    padding-left: 0;
}
.footer-box {
    flex: 1;
}
footer a:hover {
    border-bottom: 1px solid black;
}

/* Media Queries */

@media screen and (max-width:992px) { 
    .hotel {
        flex-direction: column-reverse;
        flex-wrap: nowrap;
    }
    .popular {   
        padding-bottom:5%;
        margin-left: 0%;
    }
    .popular-box {
        width: 95%;
    }
    .title-icon {
        padding-right: 5%;
    }
    #hotel-marseille {
        margin-right: 0%;
    }
    .hotel-box {
        width: 45%;
        padding: 0.5%;  
    }
    .activity-name-flex {
        padding-top: 5%;
    }
    .activity-name {    
        margin-top: 0;
        padding: 6% 0% 5% 2%; 
    }
}

@media screen and (max-width:768px) { 
    #bloc-page {
        width: 100% ;
        padding: 0%;
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }   
    .header-logo {
        margin: 15px 0 0;
    } 
    .header-nav {
        margin: 0%;
        padding-left: 0;
        width: 100%;
        justify-content: space-between;
    }
    .header-nav li {
        width: 50%;
        height: 60px;
        margin: 0%;
    }
    .header-nav a {
        width: 100%;
        height: 60px;
        border-bottom: 2px solid #f2f2f2;
    }
    .header-nav a:hover {
        border-top: none;
        border-bottom: 3px solid #0065fc;
    }   
    nav {
        width: 100%;
    }
    .research {
        margin: 5%;
    }
    #search-button {
        display: none;
    }
    #search-button-icon {
        display: block;
        height: 50px;
        min-width: 50px;
        background-color: #0065fc;
        color: white;
        border: none;
        border-radius: 15px;
        cursor: pointer;
    }
    .filters-h3 {
        margin: 10px 0; 
    }
    .info {
        align-items: baseline;
    }
    .hotel {
        flex-direction: column-reverse;
        flex-wrap: nowrap;
    }
    .hotel-bloc {
        flex-direction: column;
    }
    #hotel-marseille {
        padding:0 1%; 
        background-color: white;
        border-radius: 0%;
    }
    .hotel-box {
        width: 95%;
        margin: 2%;
        padding: 0.5%;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0px 0px 12px  rgb(161, 161, 161);
    }
    .hotel-box {
        line-height: 0.5em;
    }
    .show-more {
        padding: 1% 0 5% 3%;
    }
    .popular {
        padding-bottom:10%;
        border-radius: 0px;
        margin: 0%;
    }
    .activity {
        margin-bottom: 0;
    }
    .activity-bloc {
        flex-direction: column;
        margin: 5%;
    }
    .activity-marseille {
        flex-direction: column;
        justify-content: space-around;
        width: 80%; 
    }   
    #activity-title {
        padding: 2% 0 2% 4%;
    } 
    .activity-box1 {
        width: 90%;
    }
    .activity-box1 ,.activity-box2 ,.activity-box3, .activity-box4 ,.activity-box5 { 
        height: 190px ;   
    }
    .activity-img1, .activity-img2, .activity-img3,.activity-img4,.activity-img5{ 
        height: 135px;   
    }
    .activity-bloc {
        justify-content: flex-start;
    }
    .activity-container {
        width: 90%;
        justify-content:flex-start;
        height: 420px;
    }
    .activity-name {
        margin-top: 0;
        padding: 2% 0% 5% 5%; 
    }
    footer {
        flex-direction: column;
        height: 500px;
    }    
}
